<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-3">
    <h1 class="col-7 offset-3">SingUp for air BnB</h1>
    <div class="col-6 offset-3">
        <form action="/user/singup" method="post" class="needs-validation" novalidate>
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="email" required>
            </div>
            <button type="submit" class="btn btn-success">Sing Up</button>
        </form>
    </div>
</div>